*{
    font-family: 'Mulish', sans-serif;
    margin: 0px;
}


body{
    background-color: #f8f8f8;
    background: radial-gradient(closest-corner, white, #F7F8FC);
}

.main-container{
    display: flex;
    gap: 75px;
    justify-content: center;
}
.section-1{
    margin-top: 20px;
    
}

.app-title{
    margin-left: 85px;
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
    
}

.color-picker{
    display:flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background: white;  
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    background: radial-gradient(closest-corner, white, #fdfdfd);
}

.color-picker-prompt{
    margin-top: 28px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #252733;
}

.picker{
    margin-left: 20px;
    align-self:center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}

/* Set  custom css on the IroWheel.js */
.IroWheel, .IroSlider{
    margin: 0 auto;
}

.IroWheel{
    margin-bottom: 20px;
}

.IroWheelBorder{
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.61);
}
.IroSlider{
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.30);
}

/* Set  custom css on the IroWheel.js */

.color-selected-container{
    background-color: white;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
}
.colect-picker-selected{
    width: 40px;
    height: 30px;
    background-color: red;
    border-radius: 10px;
    align-self: flex-start;
    margin-left: auto;
}

.color-variables{
    height: 86px;
    width: 250px
}

.color-variables-text{
    margin-bottom: 5px;
    margin-left:24px;
    font-size: 16px;
    
}
.color-selected-container{
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
    flex-flow: column;
    color: #9FA2B4;
}

.perceptron-result-box{
    margin-top: 30px;
    height:110px;
    width: 300px;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: radial-gradient(closest-corner, white, #fdfdfd);
}


.perceptron-result-prompt{
    margin-top: 20px;
    align-self: center;
    color: #9FA2B4;
    font-size: 20px;
}

.perceptron-state-box{
    margin-top: 30px;
    height: 180px;
    width: 250px;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
    background: radial-gradient(closest-corner, white, #fdfdfd);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}



.perceptron-edit-box{
    margin-top: 70px;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
    background: radial-gradient(closest-corner, white, #fdfdfd);

}

.perceptron-edit-button-options{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    
}

.perceptron-stat{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.perceptron-stat-box{
    margin-top: 30px;
    height: 180px;
    width: 250px;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
    background: radial-gradient(closest-corner, white, #fdfdfd);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.perceptron-result{
    margin-top: 10px;
    align-self: center;
    font-weight: bold;
    font-size: 30px;
}

.perceptron-state{
    display: flex;
    flex-direction: column;
}

.perceptron-state-prompt{

  margin-top: 10px;
  margin-bottom: 10px;
  color: #9FA2B4;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.perceptron-state-prompt-custom-weight{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 24px;
}

.perceptron-state-stat{
    display: flex;
    margin-left: 24px;
    color: #9FA2B4;
    font-size: 14px;
    margin-bottom: 8px;
    flex-direction: row;
    justify-content: space-between;
}


.perceptron-state-value{
    margin-right: 50px;
}


.perceptron-state-value-input{
    margin-right: 50px;
    background-color: #FCFDFE;
    border: 1px solid #F0F1F7;
    border-radius: 2px;

}
/*  Start of Section 2*/

.section-2{
    margin-top: 20px;
    background: radial-gradient(closest-corner, white, #fdfdfd);
    background-color: radial-gradient(closest-corner, white, #fdfdfd);
    width: 600px;
    height: 850px;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.section-3{
    margin-top: 20px;
    background: radial-gradient(closest-corner, white, #fdfdfd);
    background-color: radial-gradient(closest-corner, white, #fdfdfd);
    width: 600px;
    height: 850px;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

/*  Start of Testing Information Chart*/

.neural-network-result-container{
    margin-top: 48px;
    margin-left: 56px;
    margin-bottom: 36px;
    font-size: 24px;
    font-weight: bold;
}

.training-data-info-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

.num-of-test-case-val, .num-of-training-case-val{
    margin-top: 8px;
    font-size: 24px;
    font-weight: bold;
}
.num-test-case-container, .num-training-case-container{
    border: 1px solid #DFE0EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    align-self: center;
}


.num-test-case-label, .num-training-case-label{
    margin-top: 18px;
    font-size: 20px;
    color: #9FA2B4;
    font-weight: bold;
}

/*  Start of CM Info */
.content-table {
    border-collapse: collapse;
    min-height: 200px;
    min-width: 500px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    margin: 0 auto;
  }
  

 
  .content-table th, .content-table td {
    padding: 2px 5px;
    border: 1px solid #dddddd;
    text-align: center;
  }
  

  .confusion-matrix-container{
    height: 290px;
    width: 550px;
    display: flex;
    border: 1px solid #DFE0EB;
    margin: 0 auto;
    flex-direction: column;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    background: radial-gradient(closest-corner, white, #fdfdfd);
    margin-bottom: 32px;
  }

 .confusion-matrix-title{
     margin-left: 16px;
     margin-top: 22px;
     margin-bottom: 20px;
     font-size: 20px;
     font-weight:600;
     color: #202020;
 }

.custom-data-container{
    height: 150px;
    width: 500px;
    display: flex;
    border: 1px solid #DFE0EB;
    margin: 0 auto;
    flex-direction: column;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    background: radial-gradient(closest-corner, white, #fdfdfd);
    margin-bottom: 25px;


}

.upload-container{
    margin-top: 10px;
}
.custom-dataset-labels{
    margin-top: 20px;
    display:flex;
    justify-content:space-between;
}

.custom-param-label{
    font-size: 20px;
    margin-left: 24px;
    font-weight: bold;
}
.warning-label{
    margin-top: 8px;
    color: #9FA2B4;
    font-size: 12px;
    margin-left: 28px;
    margin-right: 36px;
}

.train-data-upload{
    margin-top: 26px;
}

.test-data-upload{
    margin-top: 20px;
}
.train-data-upload, .test-data-upload{
    display:flex;
    justify-content: space-between;
    margin-left: 24px;
}


.bottom-container{
    display: flex;
    justify-content: space-between;
}

.train-data-upload-label, .test-data-upload-label{
    font-size: 20px;
    color: #9FA2B4;
    font-weight:bold;
}

.data-format-note{
    color: #9FA2B4;
    font-size: 12px;
    margin-left: 28px;
    margin-right: 48px;
    margin-top: 28px;
}

button.custom-data-percep{
    height: 40px;
    width: 140px;

    margin-right: 32px;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #3751FF;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
  
}
button.custom-data-percep:hover{
    background-color:  #576dff;
}

button.custom-data-percep:active {
    background-color: #1b39ff;
  }


.train-data-upload-btn, .test-data-upload-btn{
    margin-right: 36px;
    height: 40px;
    width: 100px;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #FF9737;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

button.train-data-upload-btn:hover, button.test-data-upload-btn:hover{
    background-color:  #eb7e17;
}
button.train-data-upload-btn:active, button.test-data-upload-btn:active {
    background-color: #ff7b00;
  }

/*Section 3*/

.custom-input-containers{
    margin-top: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
}